workflows/Nexus Finance.json
{
  "name": "Nexus Finance",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -1072,
        0
      ],
      "id": "e9b6e504-b663-41b5-a8ac-3b3f8a6a452e",
      "name": "Telegram Trigger",
      "webhookId": "9e50e5b2-686b-4393-bdde-3f880b55a47a",
      "credentials": {
        "telegramApi": {
          "id": "F2UToIJRQiorbiK3",
          "name": "Telegram Bot Nexus Finance"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "9fa3a009-5b92-4a64-bfc6-28d6aaf1b544"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Foto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4fde0671-f4cb-432b-81d1-61b218c86348",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Teks"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        368,
        -16
      ],
      "id": "43ed01c9-1a4b-4f2e-8d4d-d53cd865c8b2",
      "name": "Switch"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Cari User Terdaftar').item.json.spreadsheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1276418944,
          "mode": "list",
          "cachedResultName": "Setup",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Tq4N2N6qTyR1pc_SjdbXETtV3jzEJPq9FvIEp1yfmPA/edit#gid=1276418944"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:J22"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1808,
        -16
      ],
      "id": "614a0e70-aaf9-4de0-a8c4-305217d0f4de",
      "name": "Get Setup Row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nsOZqwFH7jEtDBXx",
          "name": "Google Sheets - Nexus Keuangan"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json).filter(row => row.row_number >= 4);\n\nconst struktur = {\n  TRANSACTION_TYPE_CATEGORIES: { Income: [], Expense: [], Saving: [], Transfer: [] },\n  SOURCE: { Bank: [], Wallet: [], RDN: [] }\n};\n\nfor (const row of rows) {\n  if (row.col_2) struktur.TRANSACTION_TYPE_CATEGORIES.Income.push(row.col_2);\n  if (row.col_3) struktur.TRANSACTION_TYPE_CATEGORIES.Expense.push(row.col_3);\n  if (row.col_4) struktur.TRANSACTION_TYPE_CATEGORIES.Saving.push(row.col_4);\n  if (row.col_5) struktur.TRANSACTION_TYPE_CATEGORIES.Transfer.push(row.col_5);\n  if (row.col_7) struktur.SOURCE.Bank.push(row.col_7);\n  if (row.col_8) struktur.SOURCE.Wallet.push(row.col_8);\n  if (row.col_9) struktur.SOURCE.RDN.push(row.col_9);\n}\n\nconst contextText = `\nTRANSACTION_TYPE_CATEGORIES:\n- Income: ${struktur.TRANSACTION_TYPE_CATEGORIES.Income.join(', ')}\n- Expense: ${struktur.TRANSACTION_TYPE_CATEGORIES.Expense.join(', ')}\n- Saving: ${struktur.TRANSACTION_TYPE_CATEGORIES.Saving.join(', ')}\n- Transfer: ${struktur.TRANSACTION_TYPE_CATEGORIES.Transfer.join(', ')}\n\nSOURCE:\n- Bank: ${struktur.SOURCE.Bank.join(', ')}\n- Wallet: ${struktur.SOURCE.Wallet.join(', ')}\n- RDN: ${struktur.SOURCE.RDN.join(', ')}\n`.trim();\n\nreturn {\n  json: {\n    context_kategori: contextText,\n    context_struktur: struktur,\n    original_text: $('Switch').item.json.message.text,\n    chat_id: $('Switch').item.json.message.chat.id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        -32
      ],
      "id": "ee359d55-8ea9-4f05-8449-1f5f45cb4320",
      "name": "Susun Konteks Kategori"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Kamu adalah asisten pencatatan keuangan yang mengekstrak data transaksi dari pesan bahasa natural (Bahasa Indonesia).\n\nBerikut daftar kategori dan sumber dana yang VALID di sistem ini — kamu WAJIB hanya memilih dari daftar ini, jangan pernah membuat kategori/sumber baru:\n\n{{ $json.context_kategori }}\n\nTugasmu: baca pesan user, lalu keluarkan HANYA JSON dengan struktur berikut (tanpa teks tambahan apapun, tanpa markdown code block):\n\n{\n  \"type\": \"Income\" | \"Expense\" | \"Saving\" | \"Transfer\",\n  \"category\": \"string, harus persis salah satu dari daftar kategori sesuai type\",\n  \"amount\": number (dalam Rupiah, ubah 'ribu' jadi x1000, 'juta' jadi x1000000),\n  \"description\": \"ringkasan singkat transaksi\",\n  \"source_from\": \"string dari daftar SOURCE, atau null jika type=Income\",\n  \"source_to\": \"string dari daftar SOURCE, atau null jika type=Expense\",\n  \"status\": \"ok\" atau \"need_clarification\",\n  \"clarification_message\": \"jika status need_clarification, tulis pertanyaan singkat ke user dalam Bahasa Indonesia; jika status ok, isi string kosong\"\n}\n\nAturan tambahan:\n- Expense wajib punya source_from, source_to = null\n- Income wajib punya source_to, source_from = null\n- Saving dan Transfer wajib punya source_from DAN source_to\n- Kalau kategori/sumber yang disebut user tidak ada di daftar valid, atau nominal tidak jelas, set status = \"need_clarification\" dan jelaskan alasannya di clarification_message"
            },
            {
              "content": "={{ $json.original_text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        2432,
        -32
      ],
      "id": "f34ae538-6931-4053-860d-407555ab9260",
      "name": "OpenAI - Nexus Keuangan",
      "credentials": {
        "openAiApi": {
          "id": "H1l4UPFvXTIbObGr",
          "name": "OpenAI - Nexus Keuangan"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiResult = $json.output[0].content[0].text;\nconst chatId = $('Switch').item.json.message.chat.id;\n\nreturn {\n  json: {\n    ...aiResult,\n    chat_id: chatId,\n    date: new Date().toISOString().split('T')[0]\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        -32
      ],
      "id": "4513f66d-e847-4e79-a78d-fc6de030e0ec",
      "name": "Ekstrak JSON from OpenAI"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f2578b2c-8a3a-4766-be96-097ed8cceb49",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3152,
        -32
      ],
      "id": "6ec0b157-1ca2-417b-9596-4137ca812182",
      "name": "Cek Status Respon AI"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Cari User Terdaftar').item.json.spreadsheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1596962254,
          "mode": "list",
          "cachedResultName": "Transaksi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Tq4N2N6qTyR1pc_SjdbXETtV3jzEJPq9FvIEp1yfmPA/edit#gid=1596962254"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATE": "={{ $json.date }}",
            "TYPE": "={{ $json.type }}",
            "CATEGORY": "={{ $json.category }}",
            "AMOUNT": "={{ $json.amount }}",
            "DESCRIPTION": "={{ $json.description }}",
            "SOURCE FROM": "={{ $json.source_from }}",
            "SOURCE TO": "={{ $json.source_to }}",
            "INPUT": "Bot NEXUS AI"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATE",
              "displayName": "DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TYPE",
              "displayName": "TYPE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CATEGORY",
              "displayName": "CATEGORY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AMOUNT",
              "displayName": "AMOUNT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DESCRIPTION",
              "displayName": "DESCRIPTION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "INPUT",
              "displayName": "INPUT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SOURCE FROM",
              "displayName": "SOURCE FROM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SOURCE TO",
              "displayName": "SOURCE TO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "locationDefine": {
            "values": {
              "headerRow": 5
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3536,
        -336
      ],
      "id": "fba3b8cd-b198-4522-9319-17fcda94ab1c",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nsOZqwFH7jEtDBXx",
          "name": "Google Sheets - Nexus Keuangan"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const d = $('Ekstrak JSON from OpenAI').item.json;\n\nconst formatRupiah = (n) => `Rp ${Number(n).toLocaleString('id-ID')}`;\n\nconst message = `✅ <b>Transaksi Tercatat!</b>\n\n<b>Tipe:</b> ${d.type}\n<b>Kategori:</b> ${d.category}\n<b>Nominal:</b> ${formatRupiah(d.amount)}\n\n📤 <b>Dari:</b> ${d.source_from || '-'}\n📥 <b>Ke:</b> ${d.source_to || '-'}\n\n📝 <b>Ket:</b> <i>${d.description}</i>`;\n\nreturn {\n  json: {\n    chat_id: d.chat_id,\n    message_text: message\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3856,
        -352
      ],
      "id": "77a13e10-dd7f-4c8a-ac6c-fd7f6ffac415",
      "name": "Markup HTML untuk Telegram"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message_text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4176,
        -352
      ],
      "id": "fc519850-77af-4633-b728-437954facdd9",
      "name": "Kirim Respon Transaksi",
      "webhookId": "8c2bc9f9-6f0c-4da6-8e50-626cab5a1aca",
      "credentials": {
        "telegramApi": {
          "id": "F2UToIJRQiorbiK3",
          "name": "Telegram Bot Nexus Finance"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\n\nconst message = `❓ <b>Perlu Klarifikasi</b>\n\n${d.clarification_message}\n\n<i>Coba kirim ulang pesan dengan info yang lebih jelas ya.</i>`;\n\nreturn {\n  json: {\n    chat_id: d.chat_id,\n    message_text: message\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3536,
        160
      ],
      "id": "87a247ab-36cb-4745-8d86-068786371106",
      "name": "Susun Pesan Klarifikasi"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message_text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3856,
        160
      ],
      "id": "9e443eac-f827-4c9f-9228-77f4383cad2d",
      "name": "Kirim Pesan Ambigu",
      "webhookId": "995e73c5-eff9-4947-9456-e10783f18e2e",
      "credentials": {
        "telegramApi": {
          "id": "F2UToIJRQiorbiK3",
          "name": "Telegram Bot Nexus Finance"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[$json.message.photo.length - 1].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        -544
      ],
      "id": "448554c2-f233-472f-b236-ec52485e1d41",
      "name": "Get a File",
      "webhookId": "09cf28a1-4c5a-49d3-8050-ed35d5eaf23b",
      "credentials": {
        "telegramApi": {
          "id": "F2UToIJRQiorbiK3",
          "name": "Telegram Bot Nexus Finance"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "destinationKey": "base64_image",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1104,
        -544
      ],
      "id": "292980d4-ab86-4beb-90e9-ae14e6dae402",
      "name": "Get Base64 String"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    image_data_uri: `data:image/jpeg;base64,${$json.base64_image}`,\n    chat_id: $('Switch').item.json.message.chat.id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        -544
      ],
      "id": "599a7ae5-c376-48e6-b332-22748d999e47",
      "name": "Olah String Base64"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Cari User Terdaftar').item.json.spreadsheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1276418944,
          "mode": "list",
          "cachedResultName": "Setup",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Tq4N2N6qTyR1pc_SjdbXETtV3jzEJPq9FvIEp1yfmPA/edit#gid=1276418944"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:J22"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1744,
        -544
      ],
      "id": "3f09deb4-357b-4f94-8838-7b923fe9f921",
      "name": "Get Setup Row (Photo Flow)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nsOZqwFH7jEtDBXx",
          "name": "Google Sheets - Nexus Keuangan"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json).filter(row => row.row_number >= 4);\n\nconst struktur = {\n  TRANSACTION_TYPE_CATEGORIES: { Income: [], Expense: [], Saving: [], Transfer: [] },\n  SOURCE: { Bank: [], Wallet: [], RDN: [] }\n};\n\nfor (const row of rows) {\n  if (row.col_2) struktur.TRANSACTION_TYPE_CATEGORIES.Income.push(row.col_2);\n  if (row.col_3) struktur.TRANSACTION_TYPE_CATEGORIES.Expense.push(row.col_3);\n  if (row.col_4) struktur.TRANSACTION_TYPE_CATEGORIES.Saving.push(row.col_4);\n  if (row.col_5) struktur.TRANSACTION_TYPE_CATEGORIES.Transfer.push(row.col_5);\n  if (row.col_7) struktur.SOURCE.Bank.push(row.col_7);\n  if (row.col_8) struktur.SOURCE.Wallet.push(row.col_8);\n  if (row.col_9) struktur.SOURCE.RDN.push(row.col_9);\n}\n\nconst contextText = `\nTRANSACTION_TYPE_CATEGORIES:\n- Income: ${struktur.TRANSACTION_TYPE_CATEGORIES.Income.join(', ')}\n- Expense: ${struktur.TRANSACTION_TYPE_CATEGORIES.Expense.join(', ')}\n- Saving: ${struktur.TRANSACTION_TYPE_CATEGORIES.Saving.join(', ')}\n- Transfer: ${struktur.TRANSACTION_TYPE_CATEGORIES.Transfer.join(', ')}\n\nSOURCE:\n- Bank: ${struktur.SOURCE.Bank.join(', ')}\n- Wallet: ${struktur.SOURCE.Wallet.join(', ')}\n- RDN: ${struktur.SOURCE.RDN.join(', ')}\n`.trim();\n\nconst imageUri = $('Olah String Base64').item.json.image_data_uri;\nconst chatId = $('Switch').item.json.message.chat.id;\nconst caption = $('Switch').item.json.message.caption || '';\n\nreturn {\n  json: {\n    context_kategori: contextText,\n    image_data_uri: imageUri,\n    caption: caption,\n    chat_id: chatId\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        -560
      ],
      "id": "b2b4c115-1651-420e-920f-b6e4d2163e6c",
      "name": "Susun Konteks Kategori (Photo Flow)"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Kamu adalah asisten pencatatan keuangan yang mengekstrak data transaksi dari FOTO STRUK BELANJA.\n\nBerikut daftar kategori dan sumber dana yang VALID di sistem ini — kamu WAJIB hanya memilih dari daftar ini:\n\n{{ $json.context_kategori }}\n\nBaca struk dalam gambar, lalu keluarkan HANYA JSON dengan struktur berikut (tanpa teks tambahan, tanpa markdown code block):\n\n{\n  \"type\": \"Expense\",\n  \"category\": \"string, harus persis salah satu dari daftar kategori Expense\",\n  \"amount\": number (total belanja dalam Rupiah, ambil dari total akhir struk),\n  \"description\": \"daftar item belanja dipisah koma, ringkas\",\n  \"source_from\": \"string dari daftar SOURCE jika terlihat di struk (misal metode pembayaran), atau null jika tidak terlihat\",\n  \"source_to\": null,\n  \"status\": \"ok\" atau \"need_clarification\",\n  \"clarification_message\": \"jika status need_clarification, jelaskan kenapa (misal: total tidak terbaca jelas, kategori tidak jelas); jika ok, isi string kosong\"\n}\n\nCatatan: struk selalu berupa transaksi Expense. Sumber dana biasanya disebutkan user lewat caption pesan (dikirim terpisah dari gambar) — gunakan itu sebagai source_from jika tersedia dan valid sesuai daftar SOURCE. Jika caption kosong atau sumbernya tidak dikenali, set status = \"need_clarification\"."
            },
            {
              "content": "=Sumber dana yang disebutkan user (jika ada): {{ $json.caption }}"
            },
            {
              "type": "image",
              "imageUrl": "={{ $json.image_data_uri }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        2464,
        -560
      ],
      "id": "f929ac73-469e-4ff2-ba9a-9aab738e08f7",
      "name": "Message a Open AI",
      "credentials": {
        "openAiApi": {
          "id": "H1l4UPFvXTIbObGr",
          "name": "OpenAI - Nexus Keuangan"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Kamu adalah pengklasifikasi pesan untuk bot pencatatan keuangan. Baca pesan user, tentukan apakah dia:\n- \"transaksi\": ingin mencatat transaksi baru (ada nominal uang + aktivitas keuangan)\n- \"laporan\": bertanya tentang data keuangan yang sudah ada (saldo, laporan, pengeluaran, dll)\n\nBalas HANYA dengan salah satu kata: transaksi atau laporan. Tanpa tanda baca, tanpa penjelasan, tanpa markdown."
            },
            {
              "content": "={{ $json.message.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        720,
        0
      ],
      "id": "4d0f6da6-702d-4e24-88d7-3f87030ec04e",
      "name": "Klasifikasi Intent",
      "credentials": {
        "openAiApi": {
          "id": "H1l4UPFvXTIbObGr",
          "name": "OpenAI - Nexus Keuangan"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const intentRaw = $json.output[0].content[0].text;\nconst intent = intentRaw.trim().toLowerCase();\n\nreturn {\n  json: {\n    intent: intent, // \"transaksi\" atau \"laporan\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ],
      "id": "946ab7b5-9e4d-4c7f-b60e-5db61a9f2615",
      "name": "Ekstrak hasil klasifikasi"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2401950c-229e-4c68-a2f0-5401a69a2cb7",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "transaksi",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1456,
        0
      ],
      "id": "d758b056-0682-4f49-8f11-f2d7559dab8c",
      "name": "Percabangan intent"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Cari User Terdaftar').item.json.spreadsheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Monthly Budgeting",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Tq4N2N6qTyR1pc_SjdbXETtV3jzEJPq9FvIEp1yfmPA/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:AG31"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1808,
        560
      ],
      "id": "0e0596a3-9596-4d8c-930e-c72c339fbcc2",
      "name": "Baca Monthly Budgeting",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nsOZqwFH7jEtDBXx",
          "name": "Google Sheets - Nexus Keuangan"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json);\nconst byRow = {};\nrows.forEach(r => byRow[r.row_number] = r);\n\nconst colMap = {A:1,B:2,C:3,D:4,E:5,F:6,G:7,H:8,I:9,J:10,K:11,L:12,M:13,N:14,O:15,P:16,Q:17,R:18,S:19,T:20,U:21,V:22,W:23,X:24,Y:25,Z:26,AA:27,AB:28,AC:29,AD:30,AE:31,AF:32,AG:33};\nconst col = (rowNum, letter) => {\n  const r = byRow[rowNum];\n  if (!r) return null;\n  return r['col_' + colMap[letter]] ?? null;\n};\n\n// Overview (B=label, C=value)\nconst overview = {};\nfor (let rn = 11; rn <= 15; rn++) {\n  const label = col(rn, 'B');\n  if (label) overview[label] = col(rn, 'C');\n}\n\n// Income by Category (E-I)\nconst incomeByCategory = [];\nfor (let rn = 12; rn <= 18; rn++) {\n  const category = col(rn, 'E');\n  if (!category) continue;\n  incomeByCategory.push({\n    category, amount: col(rn,'F'), plannedAllocation: col(rn,'G'),\n    actualAllocation: col(rn,'H'), status: col(rn,'I')\n  });\n}\n\n// Expense by Category (K-O), pisahkan baris Total\nconst expenseByCategory = [];\nlet expenseTotal = null;\nfor (let rn = 12; rn <= 30; rn++) {\n  const category = col(rn, 'K');\n  if (!category) continue;\n  const entry = { category, actual: col(rn,'L'), budgetPlanned: col(rn,'M'), remaining: col(rn,'N'), status: col(rn,'O') };\n  category === 'Total' ? expenseTotal = entry : expenseByCategory.push(entry);\n}\n\n// Saving & Assets (Q-V)\nconst savingAssets = [];\nfor (let rn = 12; rn <= 15; rn++) {\n  const category = col(rn, 'Q');\n  if (!category) continue;\n  savingAssets.push({\n    category, current: col(rn,'R'), saved: col(rn,'S'),\n    plan: col(rn,'T'), progressPct: col(rn,'U'), vehicle: col(rn,'V')\n  });\n}\n\n// Budget Flow (X-AA), pisahkan baris Total\nconst budgetFlow = [];\nlet budgetFlowTotal = null;\nfor (let rn = 12; rn <= 30; rn++) {\n  const source = col(rn, 'X');\n  if (!source) continue;\n  const entry = { source, in: col(rn,'Y'), out: col(rn,'Z'), net: col(rn,'AA') };\n  source === 'Total' ? budgetFlowTotal = entry : budgetFlow.push(entry);\n}\n\n// Balance per Source (AC-AF), pisahkan baris Total\nconst balancePerSource = [];\nlet balanceTotal = null;\nfor (let rn = 12; rn <= 30; rn++) {\n  const source = col(rn, 'AC');\n  if (!source) continue;\n  const entry = { source, opening: col(rn,'AD'), netMovement: col(rn,'AE'), closing: col(rn,'AF') };\n  source === 'Total' ? balanceTotal = entry : balancePerSource.push(entry);\n}\n\nconst structuredData = {\n  overview, incomeByCategory, expenseByCategory, expenseTotal,\n  savingAssets, budgetFlow, budgetFlowTotal, balancePerSource, balanceTotal\n};\n\nreturn {\n  json: {\n    laporan_data: JSON.stringify(structuredData, null, 2),\n    original_question: $('Switch').item.json.message.text,\n    chat_id: $('Switch').item.json.message.chat.id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        544
      ],
      "id": "f5d79ad7-22c8-45cd-9308-a3bd080d91fc",
      "name": "Terjemah Struktur"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Kamu adalah asisten keuangan pribadi yang menjawab pertanyaan user berdasarkan data keuangan bulan berjalan.\n\nBerikut data lengkap keuangan user bulan ini (dalam format JSON):\n\n{{ $json.laporan_data }}\n\nTugasmu: jawab pertanyaan user HANYA berdasarkan data di atas — jangan mengarang angka. Jawab dalam Bahasa Indonesia yang natural dan ramah, seperti asisten yang berbicara langsung ke user (bukan format laporan formal).\n\nAturan:\n- Kalau user tanya spesifik (misal saldo satu sumber dana), jawab singkat dan langsung ke poin, sebutkan nominal dengan format \"Rp X.XXX.XXX\".\n- Kalau user tanya laporan luas/menyeluruh (misal \"bagaimana laporan bulan ini\"), rangkum poin-poin penting: income vs expense, kategori yang melebihi budget (status ❌ Warning), progress saving, dan beri saran singkat di akhir.\n- Kalau data yang diminta tidak ditemukan di JSON (misal nama sumber dana yang tidak dikenali), katakan dengan jujur bahwa datanya tidak ditemukan, jangan menebak.\n- Gunakan HTML minimal untuk Telegram: <b>tebal</b> untuk angka penting, <i>miring</i> untuk catatan tambahan. Jangan gunakan markdown (**), jangan gunakan tag HTML lain selain <b> dan <i>.\n\nFORMAT WAJIB — SANGAT PENTING:\n- Balasan akan dikirim ke Telegram dengan parse mode HTML. Kamu HANYA boleh pakai tag <b>tebal</b> dan <i>miring</i>.\n- DILARANG KERAS memakai sintaks Markdown apapun: JANGAN pakai **, JANGAN pakai ###, JANGAN pakai tanda pagar, JANGAN pakai tanda bintang, JANGAN pakai list dengan tanda \"-\" di awal baris.\n- Untuk daftar/list, tulis dalam kalimat naratif biasa atau pakai emoji seperti 📌 di awal baris, BUKAN tanda \"-\" atau \"*\".\n- Untuk judul bagian, cukup pakai <b>Judul</b> diikuti baris baru, JANGAN pakai tanda pagar (#)."
            },
            {
              "content": "={{ $json.original_question }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        2432,
        544
      ],
      "id": "bb6ceb5a-62a3-4339-9fb3-b7fb76e566bf",
      "name": "Susun Narasi Laporan",
      "credentials": {
        "openAiApi": {
          "id": "H1l4UPFvXTIbObGr",
          "name": "OpenAI - Nexus Keuangan"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let answer = $json.output[0].content[0].text;\n\nanswer = answer\n  .replace(/\\*\\*(.+?)\\*\\*/g, '<b>$1</b>')\n  .replace(/#{1,6}\\s*(.+)/g, '<b>$1</b>')\n  .replace(/^-\\s+/gm, '📌 ');\n\nconst chatId = $('Switch').item.json.message.chat.id;\n\nreturn {\n  json: {\n    chat_id: chatId,\n    message_text: answer\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        544
      ],
      "id": "0376a98f-433a-4e3a-954d-d2f2e3a0542c",
      "name": "Ekstrak Teks Jawaban"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message_text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3152,
        544
      ],
      "id": "71282c66-f22b-4ede-b031-ac8bce3e8587",
      "name": "Telegram Send Message",
      "webhookId": "7976a322-d897-42e4-b4a7-92f96fb40c2d",
      "credentials": {
        "telegramApi": {
          "id": "F2UToIJRQiorbiK3",
          "name": "Telegram Bot Nexus Finance"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $json.message;\nlet jenisPesan = \"tidak dikenal\";\n\nif (msg.sticker) jenisPesan = \"stiker\";\nelse if (msg.voice) jenisPesan = \"pesan suara\";\nelse if (msg.video_note) jenisPesan = \"video bulat\";\nelse if (msg.video) jenisPesan = \"video\";\nelse if (msg.audio) jenisPesan = \"file audio\";\nelse if (msg.document) jenisPesan = \"dokumen\";\nelse if (msg.location) jenisPesan = \"lokasi\";\nelse if (msg.contact) jenisPesan = \"kontak\";\nelse if (msg.poll) jenisPesan = \"polling\";\nelse if (msg.animation) jenisPesan = \"GIF/animasi\";\n\nconst message_text = `🤔 <b>Format Belum Didukung</b>\\n\\nMaaf, saya belum bisa memproses ${jenisPesan}.\\n\\nSaat ini saya hanya bisa membaca:\\n📝 Teks (untuk catat transaksi atau tanya laporan)\\n📸 Foto struk belanja (dengan caption sumber dana)`;\n\nreturn {\n  json: {\n    chat_id: msg.chat.id,\n    message_text: message_text\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        688
      ],
      "id": "bf22c3b9-b8c3-4b7d-a813-562c5bbc4957",
      "name": "Deteksi Jenis Fallback"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message_text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        688
      ],
      "id": "767ea873-5060-49b7-af99-069fa6383c20",
      "name": "Telegram Send Message Error",
      "webhookId": "3b93d30b-f639-491d-876d-cbf299a45b54",
      "credentials": {
        "telegramApi": {
          "id": "F2UToIJRQiorbiK3",
          "name": "Telegram Bot Nexus Finance"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-PMbDYx2YZ_iv7r0oiNB9WYYrT8zi1UfAlzl5Ag6DBk",
          "mode": "list",
          "cachedResultName": "Nexus Control Panel",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-PMbDYx2YZ_iv7r0oiNB9WYYrT8zi1UfAlzl5Ag6DBk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Master Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-PMbDYx2YZ_iv7r0oiNB9WYYrT8zi1UfAlzl5Ag6DBk/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "headerRow": 2,
              "firstDataRow": 3
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -832,
        0
      ],
      "id": "b21ec262-c322-4905-a42b-5f3b77b9aaa9",
      "name": "Lookup Master User",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nsOZqwFH7jEtDBXx",
          "name": "Google Sheets - Nexus Keuangan"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json);\nconst originalMessage = $('Telegram Trigger').item.json.message;\nconst incomingChatId = originalMessage.chat.id;\n\nconst matchedUser = rows.find(row => String(row.chat_id) === String(incomingChatId));\n\nlet statusUser = \"baru\";\nif (matchedUser) {\n  statusUser = matchedUser.status;\n}\n\nreturn {\n  json: {\n    status_user: statusUser,\n    spreadsheet_id: matchedUser ? matchedUser.spreadsheet_id : null,\n    nama: matchedUser ? matchedUser.nama : null,\n    chat_id: incomingChatId,\n    email: matchedUser ? matchedUser.email : null,\n    message: originalMessage\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        0
      ],
      "id": "3534a6df-7d1d-47d8-9318-61d8fdd50d04",
      "name": "Cari User Terdaftar"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status_user }}",
                    "rightValue": "aktif",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c6d521e3-a559-4c31-9294-dbb9ed9a1a94"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Aktif"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3d72dc58-3934-4640-81ed-ca486c9436c8",
                    "leftValue": "={{ $json.status_user }}",
                    "rightValue": "menunggu_email",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MenungguEmail"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6620f8db-cb1b-49c6-a3c6-0ee0f3d3eea9",
                    "leftValue": "={{ $json.status_user }}",
                    "rightValue": "baru",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Baru"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3392f005-a5fc-4e95-a0e7-7fa9710463cd",
                    "leftValue": "={{ $json.status_user }}",
                    "rightValue": "nonaktif",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Nonaktif"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        96,
        1040
      ],
      "id": "1c3d8f1f-09a1-4a15-a954-172479520e71",
      "name": "Sudah Terdaftar?"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-PMbDYx2YZ_iv7r0oiNB9WYYrT8zi1UfAlzl5Ag6DBk",
          "mode": "list",
          "cachedResultName": "Nexus Control Panel",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-PMbDYx2YZ_iv7r0oiNB9WYYrT8zi1UfAlzl5Ag6DBk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Master Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-PMbDYx2YZ_iv7r0oiNB9WYYrT8zi1UfAlzl5Ag6DBk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $json.chat_id }}",
            "nama": "={{ $json.message.from.first_name }}",
            "status": "menunggu_email",
            "tanggal_daftar": "={{ $now.format('yyyy-MM-dd') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nama",
              "displayName": "nama",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "spreadsheet_id",
              "displayName": "spreadsheet_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tanggal_daftar",
              "displayName": "tanggal_daftar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "locationDefine": {
            "values": {
              "headerRow": 2
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        784,
        1680
      ],
      "id": "45bc58bc-669c-4ebc-9675-3bc28628e7a3",
      "name": "Append New Users",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nsOZqwFH7jEtDBXx",
          "name": "Google Sheets - Nexus Keuangan"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const message = `👋 <b>Selamat datang di Nexus Keuangan!</b>\n\nUntuk mulai, saya perlu menyiapkan spreadsheet pribadi kamu.\n\nKirim alamat <b>Gmail</b> kamu ya, nanti spreadsheet-nya saya buatkan dan langsung jadi milikmu.`;\n\nreturn {\n  json: {\n    chat_id: $json.chat_id,\n    message_text: message\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        1680
      ],
      "id": "bf5db992-fa81-47e3-8a2b-7016dcbbe5be",
      "name": "Code Response"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message_text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1504,
        1680
      ],
      "id": "9113d581-8a87-4d73-958e-fa7f4f4e82f8",
      "name": "Telegram Send Message Response",
      "webhookId": "3b93d30b-f639-491d-876d-cbf299a45b54",
      "credentials": {
        "telegramApi": {
          "id": "F2UToIJRQiorbiK3",
          "name": "Telegram Bot Nexus Finance"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const originalMessage = $json.message;\nconst text = (originalMessage.text || '').trim();\nconst chatId = $json.chat_id;\nconst nama = originalMessage.from.first_name;\n\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nconst isValidEmail = emailRegex.test(text);\nconst isGmail = /@gmail\\.com$/i.test(text);\n\nlet errorReason = null;\nif (!text) errorReason = \"bukan_teks\";\nelse if (!isValidEmail || !isGmail) errorReason = \"format_salah\";\n\nreturn {\n  json: {\n    email_valid: !errorReason,\n    error_reason: errorReason,\n    email: text,\n    chat_id: chatId,\n    nama: nama\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        1056
      ],
      "id": "d06dd694-9164-4184-b3b8-0d3b98e3afae",
      "name": "Validasi format email"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9c8c84dd-8dd0-4339-be6c-90bd1de9e8b7",
              "leftValue": "={{ $json.email_valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        752,
        1056
      ],
      "id": "bbfca307-cbe9-4e2b-ad82-a522a44fa0cc",
      "name": "Email valid?"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message_text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1392,
        1360
      ],
      "id": "cbc9fce0-dae4-4d80-95de-db63687ee091",
      "name": "Telegram Send False Email",
      "webhookId": "3b93d30b-f639-491d-876d-cbf299a45b54",
      "credentials": {
        "telegramApi": {
          "id": "F2UToIJRQiorbiK3",
          "name": "Telegram Bot Nexus Finance"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const spreadsheetId = $json.spreadsheet_id;\nconst spreadsheetUrl = $json.spreadsheet_url;\n\nconst message = `✅ <b>Setup Selesai!</b>\n\nSpreadsheet kamu sudah jadi dan sudah dibagikan ke emailmu:\n${spreadsheetUrl}\n\n📌 Sebelum mulai catat transaksi, isi dulu di spreadsheet:\n- <b>Budget Planned</b> di sheet Monthly Budgeting (batas pengeluaran per kategori)\n- <b>Planned Allocation</b> untuk kategori income (mau ditaruh di sumber dana mana)\n\nSetelah itu, kirim transaksi kamu seperti biasa ya — teks atau foto struk!`;\n\nreturn {\n  json: {\n    chat_id: $('Validasi format email').item.json.chat_id,\n    message_text: message\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        1040
      ],
      "id": "5de50b72-eee0-4536-9afa-d9ed41dc19b2",
      "name": "Balasan sukses"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message_text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2144,
        1040
      ],
      "id": "434ead79-218a-4ede-9f75-c7269dd39cf0",
      "name": "Telegram Send Email Success",
      "webhookId": "3b93d30b-f639-491d-876d-cbf299a45b54",
      "credentials": {
        "telegramApi": {
          "id": "F2UToIJRQiorbiK3",
          "name": "Telegram Bot Nexus Finance"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qUI5xCaQdzzfHiZL",
          "mode": "list",
          "cachedResultUrl": "/workflow/qUI5xCaQdzzfHiZL",
          "cachedResultName": "Nexus - Provisioning Spreadsheet"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Validasi format email').item.json.chat_id }}",
            "email": "={{ $('Validasi format email').item.json.email }}",
            "nama": "={{ $('Validasi format email').item.json.nama }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nama",
              "displayName": "nama",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1392,
        1040
      ],
      "id": "5344f12b-ba91-4501-97c0-34e29f169544",
      "name": "Call 'Nexus - Provisioning Spreadsheet'"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message_text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2496,
        -288
      ],
      "id": "ac5de011-102a-40e9-8e45-fc3579858d74",
      "name": "Kirim Pesan Error Spreadsheet",
      "webhookId": "995e73c5-eff9-4947-9456-e10783f18e2e",
      "credentials": {
        "telegramApi": {
          "id": "F2UToIJRQiorbiK3",
          "name": "Telegram Bot Nexus Finance"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chatId = $('Cari User Terdaftar').item.json.chat_id;\n\nconst message = `⚠️ <b>Ada Masalah Akses Spreadsheet</b>\n\nSepertinya spreadsheet kamu tidak bisa diakses (mungkin terhapus atau izin akses berubah).\n\nKirim /resetsheet untuk membuat spreadsheet baru.`;\n\nreturn {\n  json: {\n    chat_id: chatId,\n    message_text: message\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        -288
      ],
      "id": "8905e904-b2ac-43d9-813a-b8d5f4a48e0f",
      "name": "Pesan Error Spreadsheet"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message_text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2496,
        256
      ],
      "id": "568e782f-701a-401b-80ec-15511faa8080",
      "name": "Kirim Pesan Error Spreadsheet1",
      "webhookId": "995e73c5-eff9-4947-9456-e10783f18e2e",
      "credentials": {
        "telegramApi": {
          "id": "F2UToIJRQiorbiK3",
          "name": "Telegram Bot Nexus Finance"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chatId = $('Cari User Terdaftar').item.json.chat_id;\n\nconst message = `⚠️ <b>Ada Masalah Akses Spreadsheet</b>\n\nSepertinya spreadsheet kamu tidak bisa diakses (mungkin terhapus atau izin akses berubah).\n\nKirim /resetsheet untuk membuat spreadsheet baru.`;\n\nreturn {\n  json: {\n    chat_id: chatId,\n    message_text: message\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        256
      ],
      "id": "dd60a62a-1382-4bbf-807e-7aabd0c3e88d",
      "name": "Pesan Error Spreadsheet1"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message_text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4176,
        -80
      ],
      "id": "216d94b7-d7d4-4a7f-85af-64aa41da9255",
      "name": "Kirim Pesan Error Spreadsheet2",
      "webhookId": "995e73c5-eff9-4947-9456-e10783f18e2e",
      "credentials": {
        "telegramApi": {
          "id": "F2UToIJRQiorbiK3",
          "name": "Telegram Bot Nexus Finance"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chatId = $('Cari User Terdaftar').item.json.chat_id;\n\nconst message = `⚠️ <b>Ada Masalah Akses Spreadsheet</b>\n\nSepertinya spreadsheet kamu tidak bisa diakses (mungkin terhapus atau izin akses berubah).\n\nKirim /resetsheet untuk membuat spreadsheet baru.`;\n\nreturn {\n  json: {\n    chat_id: chatId,\n    message_text: message\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3856,
        -80
      ],
      "id": "6577aa06-94e4-44b0-bc62-9762f28acee2",
      "name": "Pesan Error Spreadsheet2"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message_text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2512,
        816
      ],
      "id": "ddffa0fb-aa09-4e8a-9c42-6e93db46cb42",
      "name": "Kirim Pesan Error Spreadsheet3",
      "webhookId": "995e73c5-eff9-4947-9456-e10783f18e2e",
      "credentials": {
        "telegramApi": {
          "id": "F2UToIJRQiorbiK3",
          "name": "Telegram Bot Nexus Finance"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chatId = $('Cari User Terdaftar').item.json.chat_id;\n\nconst message = `⚠️ <b>Ada Masalah Akses Spreadsheet</b>\n\nSepertinya spreadsheet kamu tidak bisa diakses (mungkin terhapus atau izin akses berubah).\n\nKirim /resetsheet untuk membuat spreadsheet baru.`;\n\nreturn {\n  json: {\n    chat_id: chatId,\n    message_text: message\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        816
      ],
      "id": "0bed7605-5ae5-464c-887a-da5d02ae51fa",
      "name": "Pesan Error Spreadsheet3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "44a8f7de-cb6c-4822-9578-62c75cb9aaba",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/resetsheet",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "7c409602-16c8-4be2-a8d0-8e776ec6bd1c",
              "leftValue": "={{ $json.status_user }}",
              "rightValue": "aktif",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -256,
        0
      ],
      "id": "ca7e9299-a615-48c9-b67c-8b0763faf903",
      "name": "If /resetsheet"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qUI5xCaQdzzfHiZL",
          "mode": "list",
          "cachedResultUrl": "/workflow/qUI5xCaQdzzfHiZL",
          "cachedResultName": "Nexus - Provisioning Spreadsheet"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Cari User Terdaftar').item.json.chat_id }}",
            "email": "={{ $('Cari User Terdaftar').item.json.email }}",
            "nama": "={{ $('Cari User Terdaftar').item.json.nama }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nama",
              "displayName": "nama",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        576,
        -896
      ],
      "id": "7e49ca76-fe50-42dc-a788-111afa774ad7",
      "name": "Call 'Nexus - Provisioning Spreadsheet'1"
    },
    {
      "parameters": {
        "jsCode": "const spreadsheetUrl = $json.spreadsheet_url;\nconst chatId = $('Cari User Terdaftar').item.json.chat_id;\n\nconst message = `🔄 <b>Spreadsheet Baru Dibuat!</b>\n\nSpreadsheet lama kamu (jika masih ada) tidak lagi terhubung ke bot.\n\nSpreadsheet baru sudah dibagikan ke email kamu:\n${spreadsheetUrl}\n\nSilakan isi ulang Budget Planned & Planned Allocation ya, lalu mulai catat transaksi seperti biasa.`;\n\nreturn { json: { chat_id: chatId, message_text: message } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        -896
      ],
      "id": "23767e3d-130a-497c-91bc-870cd3f44cd5",
      "name": "Balasan konfirmasi reset"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message_text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1296,
        -896
      ],
      "id": "f93ff19a-747c-4d82-8b41-9098b0021119",
      "name": "Kirim Pesan Reset Sheet",
      "webhookId": "995e73c5-eff9-4947-9456-e10783f18e2e",
      "credentials": {
        "telegramApi": {
          "id": "F2UToIJRQiorbiK3",
          "name": "Telegram Bot Nexus Finance"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const reason = $json.error_reason;\n\nconst message = reason === \"bukan_teks\"\n  ? \"🤔 Sepertinya itu bukan teks. Kirim alamat <b>Gmail</b> kamu ya dalam bentuk teks, supaya saya bisa siapkan spreadsheet-nya.\"\n  : \"❌ Format email tidak valid atau bukan Gmail. Coba kirim ulang alamat Gmail kamu ya.\";\n\nreturn {\n  json: {\n    chat_id: $json.chat_id,\n    message_text: message\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        1360
      ],
      "id": "adad17d8-9db8-4d28-b0bd-2eeefe4d4abe",
      "name": "Balasan Email Invalid"
    },
    {
      "parameters": {
        "jsCode": "const chatId = $json.chat_id;\n\nconst message = `🔒 <b>Akses Dinonaktifkan</b>\n\nAkun kamu saat ini tidak aktif. Silakan hubungi admin untuk info lebih lanjut.`;\n\nreturn {\n  json: {\n    chat_id: chatId,\n    message_text: message\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        2016
      ],
      "id": "8e511563-12d1-4dc6-8c87-777d612cef67",
      "name": "Code untuk pesan blokir"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message_text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        2016
      ],
      "id": "013365fc-f522-43a8-93db-4b0971e41f2d",
      "name": "Telegram untuk pesan blokir",
      "webhookId": "3b93d30b-f639-491d-876d-cbf299a45b54",
      "credentials": {
        "telegramApi": {
          "id": "F2UToIJRQiorbiK3",
          "name": "Telegram Bot Nexus Finance"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "⏳ Sedang menyiapkan spreadsheet kamu, tunggu sebentar ya...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        -896
      ],
      "id": "86c9c886-a039-489b-a4d8-9063675c0c49",
      "name": "Kirim Pesan Menunggu",
      "webhookId": "b06d0904-a379-430f-aa9d-a0274ec0e554",
      "credentials": {
        "telegramApi": {
          "id": "F2UToIJRQiorbiK3",
          "name": "Telegram Bot Nexus Finance"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "⏳ Sedang menyiapkan spreadsheet baru, tunggu sebentar ya...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1104,
        1040
      ],
      "id": "5dc57e8e-b8be-411f-8392-0edeab713cc3",
      "name": "Kirim Pesan Menunggu1",
      "webhookId": "b06d0904-a379-430f-aa9d-a0274ec0e554",
      "credentials": {
        "telegramApi": {
          "id": "F2UToIJRQiorbiK3",
          "name": "Telegram Bot Nexus Finance"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Lookup Master User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Klasifikasi Intent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deteksi Jenis Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Setup Row": {
      "main": [
        [
          {
            "node": "Susun Konteks Kategori",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pesan Error Spreadsheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Susun Konteks Kategori": {
      "main": [
        [
          {
            "node": "OpenAI - Nexus Keuangan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Nexus Keuangan": {
      "main": [
        [
          {
            "node": "Ekstrak JSON from OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ekstrak JSON from OpenAI": {
      "main": [
        [
          {
            "node": "Cek Status Respon AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Status Respon AI": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Susun Pesan Klarifikasi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Markup HTML untuk Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pesan Error Spreadsheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markup HTML untuk Telegram": {
      "main": [
        [
          {
            "node": "Kirim Respon Transaksi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Susun Pesan Klarifikasi": {
      "main": [
        [
          {
            "node": "Kirim Pesan Ambigu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a File": {
      "main": [
        [
          {
            "node": "Get Base64 String",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Base64 String": {
      "main": [
        [
          {
            "node": "Olah String Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Olah String Base64": {
      "main": [
        [
          {
            "node": "Get Setup Row (Photo Flow)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Setup Row (Photo Flow)": {
      "main": [
        [
          {
            "node": "Susun Konteks Kategori (Photo Flow)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pesan Error Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Susun Konteks Kategori (Photo Flow)": {
      "main": [
        [
          {
            "node": "Message a Open AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a Open AI": {
      "main": [
        [
          {
            "node": "Ekstrak JSON from OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Klasifikasi Intent": {
      "main": [
        [
          {
            "node": "Ekstrak hasil klasifikasi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ekstrak hasil klasifikasi": {
      "main": [
        [
          {
            "node": "Percabangan intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Percabangan intent": {
      "main": [
        [
          {
            "node": "Get Setup Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Baca Monthly Budgeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baca Monthly Budgeting": {
      "main": [
        [
          {
            "node": "Terjemah Struktur",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pesan Error Spreadsheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Terjemah Struktur": {
      "main": [
        [
          {
            "node": "Susun Narasi Laporan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Susun Narasi Laporan": {
      "main": [
        [
          {
            "node": "Ekstrak Teks Jawaban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ekstrak Teks Jawaban": {
      "main": [
        [
          {
            "node": "Telegram Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deteksi Jenis Fallback": {
      "main": [
        [
          {
            "node": "Telegram Send Message Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Master User": {
      "main": [
        [
          {
            "node": "Cari User Terdaftar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cari User Terdaftar": {
      "main": [
        [
          {
            "node": "If /resetsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sudah Terdaftar?": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validasi format email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append New Users",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code untuk pesan blokir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append New Users": {
      "main": [
        [
          {
            "node": "Code Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Response": {
      "main": [
        [
          {
            "node": "Telegram Send Message Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validasi format email": {
      "main": [
        [
          {
            "node": "Email valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email valid?": {
      "main": [
        [
          {
            "node": "Kirim Pesan Menunggu1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Balasan Email Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Balasan sukses": {
      "main": [
        [
          {
            "node": "Telegram Send Email Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Nexus - Provisioning Spreadsheet'": {
      "main": [
        [
          {
            "node": "Balasan sukses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pesan Error Spreadsheet": {
      "main": [
        [
          {
            "node": "Kirim Pesan Error Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pesan Error Spreadsheet1": {
      "main": [
        [
          {
            "node": "Kirim Pesan Error Spreadsheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pesan Error Spreadsheet2": {
      "main": [
        [
          {
            "node": "Kirim Pesan Error Spreadsheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pesan Error Spreadsheet3": {
      "main": [
        [
          {
            "node": "Kirim Pesan Error Spreadsheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If /resetsheet": {
      "main": [
        [
          {
            "node": "Kirim Pesan Menunggu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sudah Terdaftar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Nexus - Provisioning Spreadsheet'1": {
      "main": [
        [
          {
            "node": "Balasan konfirmasi reset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Balasan konfirmasi reset": {
      "main": [
        [
          {
            "node": "Kirim Pesan Reset Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Balasan Email Invalid": {
      "main": [
        [
          {
            "node": "Telegram Send False Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code untuk pesan blokir": {
      "main": [
        [
          {
            "node": "Telegram untuk pesan blokir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kirim Pesan Menunggu": {
      "main": [
        [
          {
            "node": "Call 'Nexus - Provisioning Spreadsheet'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kirim Pesan Menunggu1": {
      "main": [
        [
          {
            "node": "Call 'Nexus - Provisioning Spreadsheet'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5ffe6514-9614-481d-8481-8af14bfad02e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f05242d28092f4dc4d00db229b8a1d220a1a73dcfbbedc8afb36ec9b5d7d2e59"
  },
  "nodeGroups": [],
  "id": "BMpoeUT419890HjT",
  "tags": []
}