workflows/Nexus Finance.json
{
  "name": "Nexus Finance",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -112,
        0
      ],
      "id": "e9b6e504-b663-41b5-a8ac-3b3f8a6a452e",
      "name": "Telegram Trigger",
      "webhookId": "9e50e5b2-686b-4393-bdde-3f880b55a47a",
      "credentials": {
        "telegramApi": {
          "id": "F2UToIJRQiorbiK3",
          "name": "Telegram Bot Nexus Finance"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "9fa3a009-5b92-4a64-bfc6-28d6aaf1b544"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Foto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4fde0671-f4cb-432b-81d1-61b218c86348",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Teks"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        160,
        -16
      ],
      "id": "43ed01c9-1a4b-4f2e-8d4d-d53cd865c8b2",
      "name": "Switch"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Tq4N2N6qTyR1pc_SjdbXETtV3jzEJPq9FvIEp1yfmPA",
          "mode": "list",
          "cachedResultName": "Budgeting with Nexus Finance",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Tq4N2N6qTyR1pc_SjdbXETtV3jzEJPq9FvIEp1yfmPA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1276418944,
          "mode": "list",
          "cachedResultName": "Setup",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Tq4N2N6qTyR1pc_SjdbXETtV3jzEJPq9FvIEp1yfmPA/edit#gid=1276418944"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:J22"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1600,
        -16
      ],
      "id": "614a0e70-aaf9-4de0-a8c4-305217d0f4de",
      "name": "Get Setup Row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nsOZqwFH7jEtDBXx",
          "name": "Google Sheets - Nexus Keuangan"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json).filter(row => row.row_number >= 4);\n\nconst struktur = {\n  TRANSACTION_TYPE_CATEGORIES: { Income: [], Expense: [], Saving: [], Transfer: [] },\n  SOURCE: { Bank: [], Wallet: [], RDN: [] }\n};\n\nfor (const row of rows) {\n  if (row.col_2) struktur.TRANSACTION_TYPE_CATEGORIES.Income.push(row.col_2);\n  if (row.col_3) struktur.TRANSACTION_TYPE_CATEGORIES.Expense.push(row.col_3);\n  if (row.col_4) struktur.TRANSACTION_TYPE_CATEGORIES.Saving.push(row.col_4);\n  if (row.col_5) struktur.TRANSACTION_TYPE_CATEGORIES.Transfer.push(row.col_5);\n  if (row.col_7) struktur.SOURCE.Bank.push(row.col_7);\n  if (row.col_8) struktur.SOURCE.Wallet.push(row.col_8);\n  if (row.col_9) struktur.SOURCE.RDN.push(row.col_9);\n}\n\nconst contextText = `\nTRANSACTION_TYPE_CATEGORIES:\n- Income: ${struktur.TRANSACTION_TYPE_CATEGORIES.Income.join(', ')}\n- Expense: ${struktur.TRANSACTION_TYPE_CATEGORIES.Expense.join(', ')}\n- Saving: ${struktur.TRANSACTION_TYPE_CATEGORIES.Saving.join(', ')}\n- Transfer: ${struktur.TRANSACTION_TYPE_CATEGORIES.Transfer.join(', ')}\n\nSOURCE:\n- Bank: ${struktur.SOURCE.Bank.join(', ')}\n- Wallet: ${struktur.SOURCE.Wallet.join(', ')}\n- RDN: ${struktur.SOURCE.RDN.join(', ')}\n`.trim();\n\nreturn {\n  json: {\n    context_kategori: contextText,\n    context_struktur: struktur,\n    original_text: $('Switch').item.json.message.text,\n    chat_id: $('Switch').item.json.message.chat.id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        -16
      ],
      "id": "ee359d55-8ea9-4f05-8449-1f5f45cb4320",
      "name": "Susun Konteks Kategori"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Kamu adalah asisten pencatatan keuangan yang mengekstrak data transaksi dari pesan bahasa natural (Bahasa Indonesia).\n\nBerikut daftar kategori dan sumber dana yang VALID di sistem ini — kamu WAJIB hanya memilih dari daftar ini, jangan pernah membuat kategori/sumber baru:\n\n{{ $json.context_kategori }}\n\nTugasmu: baca pesan user, lalu keluarkan HANYA JSON dengan struktur berikut (tanpa teks tambahan apapun, tanpa markdown code block):\n\n{\n  \"type\": \"Income\" | \"Expense\" | \"Saving\" | \"Transfer\",\n  \"category\": \"string, harus persis salah satu dari daftar kategori sesuai type\",\n  \"amount\": number (dalam Rupiah, ubah 'ribu' jadi x1000, 'juta' jadi x1000000),\n  \"description\": \"ringkasan singkat transaksi\",\n  \"source_from\": \"string dari daftar SOURCE, atau null jika type=Income\",\n  \"source_to\": \"string dari daftar SOURCE, atau null jika type=Expense\",\n  \"status\": \"ok\" atau \"need_clarification\",\n  \"clarification_message\": \"jika status need_clarification, tulis pertanyaan singkat ke user dalam Bahasa Indonesia; jika status ok, isi string kosong\"\n}\n\nAturan tambahan:\n- Expense wajib punya source_from, source_to = null\n- Income wajib punya source_to, source_from = null\n- Saving dan Transfer wajib punya source_from DAN source_to\n- Kalau kategori/sumber yang disebut user tidak ada di daftar valid, atau nominal tidak jelas, set status = \"need_clarification\" dan jelaskan alasannya di clarification_message"
            },
            {
              "content": "={{ $json.original_text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        2224,
        -16
      ],
      "id": "f34ae538-6931-4053-860d-407555ab9260",
      "name": "OpenAI - Nexus Keuangan",
      "credentials": {
        "openAiApi": {
          "id": "H1l4UPFvXTIbObGr",
          "name": "OpenAI - Nexus Keuangan"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiResult = $json.output[0].content[0].text;\nconst chatId = $('Switch').item.json.message.chat.id;\n\nreturn {\n  json: {\n    ...aiResult,\n    chat_id: chatId,\n    date: new Date().toISOString().split('T')[0]\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2624,
        -16
      ],
      "id": "4513f66d-e847-4e79-a78d-fc6de030e0ec",
      "name": "Ekstrak JSON from OpenAI"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f2578b2c-8a3a-4766-be96-097ed8cceb49",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2944,
        -16
      ],
      "id": "6ec0b157-1ca2-417b-9596-4137ca812182",
      "name": "Cek Status Respon AI"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Tq4N2N6qTyR1pc_SjdbXETtV3jzEJPq9FvIEp1yfmPA",
          "mode": "list",
          "cachedResultName": "Budgeting with Nexus Finance",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Tq4N2N6qTyR1pc_SjdbXETtV3jzEJPq9FvIEp1yfmPA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1596962254,
          "mode": "list",
          "cachedResultName": "Transaksi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Tq4N2N6qTyR1pc_SjdbXETtV3jzEJPq9FvIEp1yfmPA/edit#gid=1596962254"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATE": "={{ $json.date }}",
            "TYPE": "={{ $json.type }}",
            "CATEGORY": "={{ $json.category }}",
            "AMOUNT": "={{ $json.amount }}",
            "DESCRIPTION": "={{ $json.description }}",
            "SOURCE FROM": "={{ $json.source_from }}",
            "SOURCE TO": "={{ $json.source_to }}",
            "INPUT": "Bot NEXUS AI"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATE",
              "displayName": "DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TYPE",
              "displayName": "TYPE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CATEGORY",
              "displayName": "CATEGORY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AMOUNT",
              "displayName": "AMOUNT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DESCRIPTION",
              "displayName": "DESCRIPTION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "INPUT",
              "displayName": "INPUT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SOURCE FROM",
              "displayName": "SOURCE FROM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SOURCE TO",
              "displayName": "SOURCE TO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "locationDefine": {
            "values": {
              "headerRow": 5
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3312,
        -192
      ],
      "id": "fba3b8cd-b198-4522-9319-17fcda94ab1c",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nsOZqwFH7jEtDBXx",
          "name": "Google Sheets - Nexus Keuangan"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $('Ekstrak JSON from OpenAI').item.json;\n\nconst formatRupiah = (n) => `Rp ${Number(n).toLocaleString('id-ID')}`;\n\nconst message = `✅ <b>Transaksi Tercatat!</b>\n\n<b>Tipe:</b> ${d.type}\n<b>Kategori:</b> ${d.category}\n<b>Nominal:</b> ${formatRupiah(d.amount)}\n\n📤 <b>Dari:</b> ${d.source_from || '-'}\n📥 <b>Ke:</b> ${d.source_to || '-'}\n\n📝 <b>Ket:</b> <i>${d.description}</i>`;\n\nreturn {\n  json: {\n    chat_id: d.chat_id,\n    message_text: message\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3632,
        -192
      ],
      "id": "77a13e10-dd7f-4c8a-ac6c-fd7f6ffac415",
      "name": "Markup HTML untuk Telegram"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message_text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3952,
        -192
      ],
      "id": "fc519850-77af-4633-b728-437954facdd9",
      "name": "Kirim Respon Transaksi",
      "webhookId": "8c2bc9f9-6f0c-4da6-8e50-626cab5a1aca",
      "credentials": {
        "telegramApi": {
          "id": "F2UToIJRQiorbiK3",
          "name": "Telegram Bot Nexus Finance"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\n\nconst message = `❓ <b>Perlu Klarifikasi</b>\n\n${d.clarification_message}\n\n<i>Coba kirim ulang pesan dengan info yang lebih jelas ya.</i>`;\n\nreturn {\n  json: {\n    chat_id: d.chat_id,\n    message_text: message\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3328,
        160
      ],
      "id": "87a247ab-36cb-4745-8d86-068786371106",
      "name": "Susun Pesan Klarifikasi"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message_text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3648,
        160
      ],
      "id": "9e443eac-f827-4c9f-9228-77f4383cad2d",
      "name": "Kirim Pesan Ambigu",
      "webhookId": "995e73c5-eff9-4947-9456-e10783f18e2e",
      "credentials": {
        "telegramApi": {
          "id": "F2UToIJRQiorbiK3",
          "name": "Telegram Bot Nexus Finance"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[$json.message.photo.length - 1].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        592,
        -384
      ],
      "id": "448554c2-f233-472f-b236-ec52485e1d41",
      "name": "Get a File",
      "webhookId": "09cf28a1-4c5a-49d3-8050-ed35d5eaf23b",
      "credentials": {
        "telegramApi": {
          "id": "F2UToIJRQiorbiK3",
          "name": "Telegram Bot Nexus Finance"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "destinationKey": "base64_image",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        896,
        -384
      ],
      "id": "292980d4-ab86-4beb-90e9-ae14e6dae402",
      "name": "Get Base64 String"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    image_data_uri: `data:image/jpeg;base64,${$json.base64_image}`,\n    chat_id: $('Switch').item.json.message.chat.id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        -384
      ],
      "id": "599a7ae5-c376-48e6-b332-22748d999e47",
      "name": "Olah String Base64"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Tq4N2N6qTyR1pc_SjdbXETtV3jzEJPq9FvIEp1yfmPA",
          "mode": "list",
          "cachedResultName": "Budgeting with Nexus Finance",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Tq4N2N6qTyR1pc_SjdbXETtV3jzEJPq9FvIEp1yfmPA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1276418944,
          "mode": "list",
          "cachedResultName": "Setup",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Tq4N2N6qTyR1pc_SjdbXETtV3jzEJPq9FvIEp1yfmPA/edit#gid=1276418944"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:J22"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1600,
        -384
      ],
      "id": "3f09deb4-357b-4f94-8838-7b923fe9f921",
      "name": "Get Setup Row (Photo Flow)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nsOZqwFH7jEtDBXx",
          "name": "Google Sheets - Nexus Keuangan"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json).filter(row => row.row_number >= 4);\n\nconst struktur = {\n  TRANSACTION_TYPE_CATEGORIES: { Income: [], Expense: [], Saving: [], Transfer: [] },\n  SOURCE: { Bank: [], Wallet: [], RDN: [] }\n};\n\nfor (const row of rows) {\n  if (row.col_2) struktur.TRANSACTION_TYPE_CATEGORIES.Income.push(row.col_2);\n  if (row.col_3) struktur.TRANSACTION_TYPE_CATEGORIES.Expense.push(row.col_3);\n  if (row.col_4) struktur.TRANSACTION_TYPE_CATEGORIES.Saving.push(row.col_4);\n  if (row.col_5) struktur.TRANSACTION_TYPE_CATEGORIES.Transfer.push(row.col_5);\n  if (row.col_7) struktur.SOURCE.Bank.push(row.col_7);\n  if (row.col_8) struktur.SOURCE.Wallet.push(row.col_8);\n  if (row.col_9) struktur.SOURCE.RDN.push(row.col_9);\n}\n\nconst contextText = `\nTRANSACTION_TYPE_CATEGORIES:\n- Income: ${struktur.TRANSACTION_TYPE_CATEGORIES.Income.join(', ')}\n- Expense: ${struktur.TRANSACTION_TYPE_CATEGORIES.Expense.join(', ')}\n- Saving: ${struktur.TRANSACTION_TYPE_CATEGORIES.Saving.join(', ')}\n- Transfer: ${struktur.TRANSACTION_TYPE_CATEGORIES.Transfer.join(', ')}\n\nSOURCE:\n- Bank: ${struktur.SOURCE.Bank.join(', ')}\n- Wallet: ${struktur.SOURCE.Wallet.join(', ')}\n- RDN: ${struktur.SOURCE.RDN.join(', ')}\n`.trim();\n\nconst imageUri = $('Olah String Base64').item.json.image_data_uri;\nconst chatId = $('Switch').item.json.message.chat.id;\nconst caption = $('Switch').item.json.message.caption || '';\n\nreturn {\n  json: {\n    context_kategori: contextText,\n    image_data_uri: imageUri,\n    caption: caption,\n    chat_id: chatId\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        -384
      ],
      "id": "b2b4c115-1651-420e-920f-b6e4d2163e6c",
      "name": "Susun Konteks Kategori (Photo Flow)"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Kamu adalah asisten pencatatan keuangan yang mengekstrak data transaksi dari FOTO STRUK BELANJA.\n\nBerikut daftar kategori dan sumber dana yang VALID di sistem ini — kamu WAJIB hanya memilih dari daftar ini:\n\n{{ $json.context_kategori }}\n\nBaca struk dalam gambar, lalu keluarkan HANYA JSON dengan struktur berikut (tanpa teks tambahan, tanpa markdown code block):\n\n{\n  \"type\": \"Expense\",\n  \"category\": \"string, harus persis salah satu dari daftar kategori Expense\",\n  \"amount\": number (total belanja dalam Rupiah, ambil dari total akhir struk),\n  \"description\": \"daftar item belanja dipisah koma, ringkas\",\n  \"source_from\": \"string dari daftar SOURCE jika terlihat di struk (misal metode pembayaran), atau null jika tidak terlihat\",\n  \"source_to\": null,\n  \"status\": \"ok\" atau \"need_clarification\",\n  \"clarification_message\": \"jika status need_clarification, jelaskan kenapa (misal: total tidak terbaca jelas, kategori tidak jelas); jika ok, isi string kosong\"\n}\n\nCatatan: struk selalu berupa transaksi Expense. Sumber dana biasanya disebutkan user lewat caption pesan (dikirim terpisah dari gambar) — gunakan itu sebagai source_from jika tersedia dan valid sesuai daftar SOURCE. Jika caption kosong atau sumbernya tidak dikenali, set status = \"need_clarification\"."
            },
            {
              "content": "=Sumber dana yang disebutkan user (jika ada): {{ $json.caption }}"
            },
            {
              "type": "image",
              "imageUrl": "={{ $json.image_data_uri }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        2224,
        -384
      ],
      "id": "f929ac73-469e-4ff2-ba9a-9aab738e08f7",
      "name": "Message a Open AI",
      "credentials": {
        "openAiApi": {
          "id": "H1l4UPFvXTIbObGr",
          "name": "OpenAI - Nexus Keuangan"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Kamu adalah pengklasifikasi pesan untuk bot pencatatan keuangan. Baca pesan user, tentukan apakah dia:\n- \"transaksi\": ingin mencatat transaksi baru (ada nominal uang + aktivitas keuangan)\n- \"laporan\": bertanya tentang data keuangan yang sudah ada (saldo, laporan, pengeluaran, dll)\n\nBalas HANYA dengan salah satu kata: transaksi atau laporan. Tanpa tanda baca, tanpa penjelasan, tanpa markdown."
            },
            {
              "content": "={{ $json.message.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        512,
        0
      ],
      "id": "4d0f6da6-702d-4e24-88d7-3f87030ec04e",
      "name": "Klasifikasi Intent",
      "credentials": {
        "openAiApi": {
          "id": "H1l4UPFvXTIbObGr",
          "name": "OpenAI - Nexus Keuangan"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const intentRaw = $json.output[0].content[0].text;\nconst intent = intentRaw.trim().toLowerCase();\n\nreturn {\n  json: {\n    intent: intent, // \"transaksi\" atau \"laporan\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        0
      ],
      "id": "946ab7b5-9e4d-4c7f-b60e-5db61a9f2615",
      "name": "Ekstrak hasil klasifikasi"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2401950c-229e-4c68-a2f0-5401a69a2cb7",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "transaksi",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1248,
        0
      ],
      "id": "d758b056-0682-4f49-8f11-f2d7559dab8c",
      "name": "Percabangan intent"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Tq4N2N6qTyR1pc_SjdbXETtV3jzEJPq9FvIEp1yfmPA",
          "mode": "list",
          "cachedResultName": "Budgeting with Nexus Finance",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Tq4N2N6qTyR1pc_SjdbXETtV3jzEJPq9FvIEp1yfmPA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Monthly Budgeting",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Tq4N2N6qTyR1pc_SjdbXETtV3jzEJPq9FvIEp1yfmPA/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:AG31"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1600,
        416
      ],
      "id": "0e0596a3-9596-4d8c-930e-c72c339fbcc2",
      "name": "Baca Monthly Budgeting",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nsOZqwFH7jEtDBXx",
          "name": "Google Sheets - Nexus Keuangan"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json);\nconst byRow = {};\nrows.forEach(r => byRow[r.row_number] = r);\n\nconst colMap = {A:1,B:2,C:3,D:4,E:5,F:6,G:7,H:8,I:9,J:10,K:11,L:12,M:13,N:14,O:15,P:16,Q:17,R:18,S:19,T:20,U:21,V:22,W:23,X:24,Y:25,Z:26,AA:27,AB:28,AC:29,AD:30,AE:31,AF:32,AG:33};\nconst col = (rowNum, letter) => {\n  const r = byRow[rowNum];\n  if (!r) return null;\n  return r['col_' + colMap[letter]] ?? null;\n};\n\n// Overview (B=label, C=value)\nconst overview = {};\nfor (let rn = 11; rn <= 15; rn++) {\n  const label = col(rn, 'B');\n  if (label) overview[label] = col(rn, 'C');\n}\n\n// Income by Category (E-I)\nconst incomeByCategory = [];\nfor (let rn = 12; rn <= 18; rn++) {\n  const category = col(rn, 'E');\n  if (!category) continue;\n  incomeByCategory.push({\n    category, amount: col(rn,'F'), plannedAllocation: col(rn,'G'),\n    actualAllocation: col(rn,'H'), status: col(rn,'I')\n  });\n}\n\n// Expense by Category (K-O), pisahkan baris Total\nconst expenseByCategory = [];\nlet expenseTotal = null;\nfor (let rn = 12; rn <= 30; rn++) {\n  const category = col(rn, 'K');\n  if (!category) continue;\n  const entry = { category, actual: col(rn,'L'), budgetPlanned: col(rn,'M'), remaining: col(rn,'N'), status: col(rn,'O') };\n  category === 'Total' ? expenseTotal = entry : expenseByCategory.push(entry);\n}\n\n// Saving & Assets (Q-V)\nconst savingAssets = [];\nfor (let rn = 12; rn <= 15; rn++) {\n  const category = col(rn, 'Q');\n  if (!category) continue;\n  savingAssets.push({\n    category, current: col(rn,'R'), saved: col(rn,'S'),\n    plan: col(rn,'T'), progressPct: col(rn,'U'), vehicle: col(rn,'V')\n  });\n}\n\n// Budget Flow (X-AA), pisahkan baris Total\nconst budgetFlow = [];\nlet budgetFlowTotal = null;\nfor (let rn = 12; rn <= 30; rn++) {\n  const source = col(rn, 'X');\n  if (!source) continue;\n  const entry = { source, in: col(rn,'Y'), out: col(rn,'Z'), net: col(rn,'AA') };\n  source === 'Total' ? budgetFlowTotal = entry : budgetFlow.push(entry);\n}\n\n// Balance per Source (AC-AF), pisahkan baris Total\nconst balancePerSource = [];\nlet balanceTotal = null;\nfor (let rn = 12; rn <= 30; rn++) {\n  const source = col(rn, 'AC');\n  if (!source) continue;\n  const entry = { source, opening: col(rn,'AD'), netMovement: col(rn,'AE'), closing: col(rn,'AF') };\n  source === 'Total' ? balanceTotal = entry : balancePerSource.push(entry);\n}\n\nconst structuredData = {\n  overview, incomeByCategory, expenseByCategory, expenseTotal,\n  savingAssets, budgetFlow, budgetFlowTotal, balancePerSource, balanceTotal\n};\n\nreturn {\n  json: {\n    laporan_data: JSON.stringify(structuredData, null, 2),\n    original_question: $('Switch').item.json.message.text,\n    chat_id: $('Switch').item.json.message.chat.id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        416
      ],
      "id": "f5d79ad7-22c8-45cd-9308-a3bd080d91fc",
      "name": "Terjemah Struktur"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Kamu adalah asisten keuangan pribadi yang menjawab pertanyaan user berdasarkan data keuangan bulan berjalan.\n\nBerikut data lengkap keuangan user bulan ini (dalam format JSON):\n\n{{ $json.laporan_data }}\n\nTugasmu: jawab pertanyaan user HANYA berdasarkan data di atas — jangan mengarang angka. Jawab dalam Bahasa Indonesia yang natural dan ramah, seperti asisten yang berbicara langsung ke user (bukan format laporan formal).\n\nAturan:\n- Kalau user tanya spesifik (misal saldo satu sumber dana), jawab singkat dan langsung ke poin, sebutkan nominal dengan format \"Rp X.XXX.XXX\".\n- Kalau user tanya laporan luas/menyeluruh (misal \"bagaimana laporan bulan ini\"), rangkum poin-poin penting: income vs expense, kategori yang melebihi budget (status ❌ Warning), progress saving, dan beri saran singkat di akhir.\n- Kalau data yang diminta tidak ditemukan di JSON (misal nama sumber dana yang tidak dikenali), katakan dengan jujur bahwa datanya tidak ditemukan, jangan menebak.\n- Gunakan HTML minimal untuk Telegram: <b>tebal</b> untuk angka penting, <i>miring</i> untuk catatan tambahan. Jangan gunakan markdown (**), jangan gunakan tag HTML lain selain <b> dan <i>.\n\nFORMAT WAJIB — SANGAT PENTING:\n- Balasan akan dikirim ke Telegram dengan parse mode HTML. Kamu HANYA boleh pakai tag <b>tebal</b> dan <i>miring</i>.\n- DILARANG KERAS memakai sintaks Markdown apapun: JANGAN pakai **, JANGAN pakai ###, JANGAN pakai tanda pagar, JANGAN pakai tanda bintang, JANGAN pakai list dengan tanda \"-\" di awal baris.\n- Untuk daftar/list, tulis dalam kalimat naratif biasa atau pakai emoji seperti 📌 di awal baris, BUKAN tanda \"-\" atau \"*\".\n- Untuk judul bagian, cukup pakai <b>Judul</b> diikuti baris baru, JANGAN pakai tanda pagar (#)."
            },
            {
              "content": "={{ $json.original_question }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        2224,
        416
      ],
      "id": "bb6ceb5a-62a3-4339-9fb3-b7fb76e566bf",
      "name": "Susun Narasi Laporan",
      "credentials": {
        "openAiApi": {
          "id": "H1l4UPFvXTIbObGr",
          "name": "OpenAI - Nexus Keuangan"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let answer = $json.output[0].content[0].text;\n\nanswer = answer\n  .replace(/\\*\\*(.+?)\\*\\*/g, '<b>$1</b>')\n  .replace(/#{1,6}\\s*(.+)/g, '<b>$1</b>')\n  .replace(/^-\\s+/gm, '📌 ');\n\nconst chatId = $('Switch').item.json.message.chat.id;\n\nreturn {\n  json: {\n    chat_id: chatId,\n    message_text: answer\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2624,
        416
      ],
      "id": "0376a98f-433a-4e3a-954d-d2f2e3a0542c",
      "name": "Ekstrak Teks Jawaban"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message_text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2944,
        416
      ],
      "id": "71282c66-f22b-4ede-b031-ac8bce3e8587",
      "name": "Telegram Send Message",
      "webhookId": "7976a322-d897-42e4-b4a7-92f96fb40c2d",
      "credentials": {
        "telegramApi": {
          "id": "F2UToIJRQiorbiK3",
          "name": "Telegram Bot Nexus Finance"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Klasifikasi Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Setup Row": {
      "main": [
        [
          {
            "node": "Susun Konteks Kategori",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Susun Konteks Kategori": {
      "main": [
        [
          {
            "node": "OpenAI - Nexus Keuangan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Nexus Keuangan": {
      "main": [
        [
          {
            "node": "Ekstrak JSON from OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ekstrak JSON from OpenAI": {
      "main": [
        [
          {
            "node": "Cek Status Respon AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Status Respon AI": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Susun Pesan Klarifikasi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Markup HTML untuk Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markup HTML untuk Telegram": {
      "main": [
        [
          {
            "node": "Kirim Respon Transaksi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Susun Pesan Klarifikasi": {
      "main": [
        [
          {
            "node": "Kirim Pesan Ambigu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a File": {
      "main": [
        [
          {
            "node": "Get Base64 String",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Base64 String": {
      "main": [
        [
          {
            "node": "Olah String Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Olah String Base64": {
      "main": [
        [
          {
            "node": "Get Setup Row (Photo Flow)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Setup Row (Photo Flow)": {
      "main": [
        [
          {
            "node": "Susun Konteks Kategori (Photo Flow)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Susun Konteks Kategori (Photo Flow)": {
      "main": [
        [
          {
            "node": "Message a Open AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a Open AI": {
      "main": [
        [
          {
            "node": "Ekstrak JSON from OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Klasifikasi Intent": {
      "main": [
        [
          {
            "node": "Ekstrak hasil klasifikasi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ekstrak hasil klasifikasi": {
      "main": [
        [
          {
            "node": "Percabangan intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Percabangan intent": {
      "main": [
        [
          {
            "node": "Get Setup Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Baca Monthly Budgeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baca Monthly Budgeting": {
      "main": [
        [
          {
            "node": "Terjemah Struktur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Terjemah Struktur": {
      "main": [
        [
          {
            "node": "Susun Narasi Laporan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Susun Narasi Laporan": {
      "main": [
        [
          {
            "node": "Ekstrak Teks Jawaban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ekstrak Teks Jawaban": {
      "main": [
        [
          {
            "node": "Telegram Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3d9d15a5-cc93-4ff5-bbfc-8f391c1e849f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f05242d28092f4dc4d00db229b8a1d220a1a73dcfbbedc8afb36ec9b5d7d2e59"
  },
  "nodeGroups": [],
  "id": "BMpoeUT419890HjT",
  "tags": []
}